body, html {
  background-color: #16171E;
  color: #CB76A9; 

}

.container {
  max-width: 38rem; /* Maintain size on larger screens */
  width: 100%; /* Make responsive for smaller screens */
  height: auto;
  overflow: auto;
  margin: 0 auto;
  margin-top: auto;
  padding: 2rem 2rem 2rem 3.6rem;
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAACZklEQVR4Xu2c21ElMQwFuTkSAglsJJvAhkCO8LtXUHSdkux50PxatqX2kUblmcvj5WZ/729/P/4P6fXfn8fOELdutiMwgQ5TFqhAhwk0l6uKrMtZQ0PAAg2BkblAiVA4fnmgFEDI44s51bzV+3drcNyHrg5IoF1JlvkCFegTAUz51SlONWv3/qQPyiCBEsGwJAlUoCGBYfPLp3zlcXRNFagK/fmGXYWGCqGU+nVACUjIF80JMPlD86lPruPjbRMFgIRCAwJC/tB8gYaNuEALMAKiQsOUpz5VoAJ9JkCKaPLC6el7eSoZv+6hdLqUT08IJQIGRyuYDoDiI/8fAn3+uEygRADGU0Gp0N1AuzWFBEInSvNXj48rVKDDNVSgAh2tAstTvqvYs9fM0dP4ZrHL34euBpSuL9CUGNgLdDdQqql3q5npbVXlgwoVaPbDMYEWxajQ4Rq4Heiw/4cvt72xPzzixQ4IdBiwQK8OdPoEh3nEy6Xx0Aa1D8e2KXXg7I1+Go9Ah195CFSgpIHe+HSKkze3r6ECJQmE4wINgZH57YF2Lx8IYDqeAqe2cHsNFWj5T12kADpBgQr0SUMkmMNTviqeHKYMScdvV0MFChIghZEiaH6qQLInf9IDN+WHnxHjQEkR6TgpNlVYuv/hCu06nAYg0JC4Cg2BkblAiVBzvAI25QWafYPe5IXTVSgiygwuD7SGe7aatdofeihWPtjYC3Tz96FZwubWpBAVGjK9PdCQxxdzUhQB7O6/en5cQ7sOCbRLsMwXqEAjAoen/NVrZrsPjY7rG+OzvUbuxiPQaYJlPVN+GPAn/r166/NtX7EAAAAASUVORK5CYII=") 28 /  28px / 0 round;
  border-width:  15px;
  border-style:  solid;
  filter: drop-shadow(1px 3px 4px #ca74a8);
  animation: pulse-shadow 123s infinite;
}

@keyframes pulse-shadow {
  0% {
    filter: drop-shadow(1px 1px 3px rgb(167, 107, 143));
  }
  13% {
    filter: drop-shadow(1px 3px 8px #8b5c7d);
  }
  26% {
    filter: drop-shadow(1px 6px 16px #744561);
  }
  39% {
    filter: drop-shadow(1px 9px 12px #a85f91);
  }
  52% {
    filter: drop-shadow(2px 4px 8px #c46b8d);
  }
  65% {
    filter: drop-shadow(1px 5px 14px #cf74af);
  }
  78% {
    filter: drop-shadow(1px 9px 17px #bc65a3);
  }
  100% {
    filter: drop-shadow(1px 12px 19px #ce68b8);
  }
}

@font-face {
  font-family: 'CustomFont';
  src: url('/MS33558C.otf') format('opentype');
  font-weight: normal;
}


header {
  text-align: left;
}

.ascii-art {
  margin: 0.8rem 0px clamp(0.5rem, 5vh, 10rem) 0px;
  font-size: 1rem;
  filter: drop-shadow(4px 4px 5px #674d7c);
  color: #ca74a8;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 1rem 0;
  font-family: 'MS33558C', sans-serif;
  text-align: justify;
}

main a::before {
  content: '[[[ ';
}

main a::after {
  content: ' ]]]';
}


.me-list, .friend-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.me-list {
  counter-reset: list-counter -1;
}

.friend-list {
  counter-reset: list-counter;
  column-count: 3;
  column-gap: 1.2rem;
}

.me-list li, .friend-list li {
  counter-increment: list-counter;
  position: relative;
  padding-left: 2rem;
}

.me-list li::before, .friend-list li::before {
  content: counter(list-counter, decimal-leading-zero) ". ";
  position: absolute;
  left: 0;
  color: #ca74a8;
}

.container a {
  color: inherit;
  text-decoration: none;
}

.container a:hover {
  color: #98DC89;
}

.description {
  text-align: left;
  width: calc((36rem - (1.2rem * 2)) / 3 * 2);
  min-height: 16rem; /* Set a minimum height */
  text-align: justify;
  line-height: 1.2rem;
  font-size: 1rem;
}

.description a {
  text-decoration: underline;
}

/* Mobile setup */
@media (max-width: 768px) {
  .container {
    width: 80vw;
    height: 91vh; 
    padding: 1.5rem;
    border-width: 8px; 

  }

  .ascii-art {
    font-size: 0.8rem; 
    margin: 0.1rem 0 0 0.8rem; 
  }

  main {
    display: flex;
    flex-direction: column;
    margin: 0 0.2rem 0 0.2rem;
    padding: 0;
  }

  .me-list {
    margin-left: 1rem;
  }
  .friend-list {
    column-count: 2;
    column-gap: 1.8rem;
    margin-left: 1rem;
  }

  .description {
    width: 73vw; /* Full width for description */
    font-size: 0.9rem; /* Adjust font size for readability */
    margin: 0 1rem 0 1rem;
  }

  .description p {
    margin: 0.6rem 0 0 0
  }

}
@media (max-width: 500px) {
  .friend-list {
    column-count: 1; /* Single column for smaller screens */
    column-gap: 0; /* Remove gap */
  }
}